<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669235707537-0d3mcqah2k8584pnvsc80s1u2ed4hjq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669235707537-0d3mcqah2k8584pnvsc80s1u2ed4hjq3</string>
	<key>API_KEY</key>
	<string>AIzaSyA_yOU8jdsbahwJ5dQ9Ws908UKyS8Ht7y0</string>
	<key>GCM_SENDER_ID</key>
	<string>669235707537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFitnessApp</string>
	<key>PROJECT_ID</key>
	<string>myfitnessapp-64dc1</string>
	<key>STORAGE_BUCKET</key>
	<string>myfitnessapp-64dc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669235707537:ios:c4b9f236860965e0d74930</string>
</dict>
</plist>